---
const today = new Date();
---
<section class="py-12 md:py-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4 mb-16">
      <div class="w-full lg:w-4/12 xl:w-5/12 px-4 mb-8 lg:mb-0">
        <a class="inline-block" href="/">
          <img
              class="h-8 w-auto"
              width="65"
              height="40"
              src="/logo-letter.svg"
              alt="Ronald te Brake"
          />
        </a>
      </div>
      <div class="w-full lg:w-8/12 xl:w-7/12 px-4">
        <ul class="flex flex-wrap -mb-2 items-center lg:justify-end">
          <li class="mb-2 mr-14">
            <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://twitter.com/ronaldtebrake" alt="link to twitter">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
              <span class="ml-3 text-coolGray-600 hover:underline">Twitter</span>
            </a>
          </li>
          <li class="mb-2 mr-14">
            <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://github.com/ronaldtebrake/" alt="link to github">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path xmlns="http://www.w3.org/2000/svg" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
              </svg>
              <span class="ml-3 text-coolGray-600 hover:underline">GitHub</span>
            </a>
          </li>
          <li class="mb-2 mr-14">
            <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://drupal.org/u/ronaldtebrake" alt="link to drupal">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 30 30">
                <path d="M21.627 8.169c-1.32-0.822-2.564-1.145-3.809-1.967-0.772-0.523-1.843-1.768-2.739-2.838-0.174 1.718-0.697 2.415-1.295 2.913-1.27 0.996-2.067 1.295-3.162 1.892-0.921 0.473-5.926 3.461-5.926 9.885s5.403 11.155 11.404 11.155c6.001 0 11.204-4.357 11.204-10.955s-4.88-9.586-5.677-10.084zM21.771 26.865c-0.125 0.125-1.27 0.921-2.614 1.046s-3.162 0.199-4.258-0.797c-0.174-0.174-0.124-0.423 0-0.523s0.224-0.174 0.373-0.174c0.149 0 0.124 0 0.199 0.050 0.498 0.398 1.245 0.722 2.838 0.722s2.714-0.448 3.212-0.822c0.224-0.174 0.324-0.025 0.349 0.075s0.075 0.249-0.1 0.423zM17.414 24.599c0.274-0.249 0.722-0.647 1.145-0.822s0.647-0.149 1.046-0.149 0.822 0.025 1.12 0.224c0.299 0.199 0.473 0.647 0.573 0.896s0 0.398-0.199 0.498c-0.174 0.1-0.199 0.050-0.374-0.274s-0.324-0.647-1.195-0.647-1.145 0.299-1.569 0.647c-0.423 0.349-0.573 0.473-0.722 0.274s-0.099-0.398 0.175-0.647zM24.012 24.798c-0.896-0.075-2.689-2.863-3.834-2.913-1.444-0.050-4.581 3.013-7.046 3.013-1.494 0-1.942-0.224-2.44-0.548-0.747-0.523-1.12-1.32-1.096-2.415 0.025-1.942 1.842-3.76 4.133-3.785 2.913-0.025 4.93 2.888 6.399 2.863 1.245-0.025 3.635-2.465 4.805-2.465 1.245 0 1.594 1.295 1.594 2.066s-0.249 2.166-0.847 3.038c-0.598 0.872-0.971 1.195-1.668 1.145z"/>
              </svg>
              <span class="ml-3 text-coolGray-600 hover:underline">Drupal</span>
            </a>
          </li>
          <li class="mb-2 mr-14">
            <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://www.linkedin.com/in/ronaldtebrake/" alt="link to linkedin">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
              <span class="ml-3 text-coolGray-600 hover:underline">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-wrap -mx-4 items-center">
      <div class="w-full sm:w-1/2 px-4 mb-6 sm:mb-0">
        <span class="font-medium text-coolGray-600">&copy; {today.getFullYear()} Ronald te Brake.</span>
      </div>
      <div class="w-full sm:w-1/2 px-4 sm:text-right">
        <div class="-mb-2"><a class="inline-block text-sm mb-2 mr-12 text-coolGray-600 hover:text-coolGray-500" href="#">Terms of Use</a><a class="inline-block text-sm mb-2 text-coolGray-600 hover:text-coolGray-500" href="#">Privacy Policy</a></div>
      </div>
    </div>
  </div>
</section>