---
const today = new Date();
import Newsletter from '@/components/Newsletter.astro'
---
<Newsletter />
<section class="py-12 md:py-20 ">
    <div class="w-full">
      <ul class="flex flex-wrap justify-center">
        <li class="mr-7">
          <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://twitter.com/ronaldtebrake" alt="link to twitter" aria-label="Twitter">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-7" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
        </li>
        <li class="mr-7">
          <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://github.com/ronaldtebrake/" alt="link to github" aria-label="Github">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-7" viewBox="0 0 24 24">
              <path xmlns="http://www.w3.org/2000/svg" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
            </svg>
          </a>
        </li>
        <li class="mr-7">
          <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://drupal.org/u/ronaldtebrake" alt="link to drupal" aria-label="Drupal">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-7" viewBox="0 0 30 30">
              <path d="M21.627 8.169c-1.32-0.822-2.564-1.145-3.809-1.967-0.772-0.523-1.843-1.768-2.739-2.838-0.174 1.718-0.697 2.415-1.295 2.913-1.27 0.996-2.067 1.295-3.162 1.892-0.921 0.473-5.926 3.461-5.926 9.885s5.403 11.155 11.404 11.155c6.001 0 11.204-4.357 11.204-10.955s-4.88-9.586-5.677-10.084zM21.771 26.865c-0.125 0.125-1.27 0.921-2.614 1.046s-3.162 0.199-4.258-0.797c-0.174-0.174-0.124-0.423 0-0.523s0.224-0.174 0.373-0.174c0.149 0 0.124 0 0.199 0.050 0.498 0.398 1.245 0.722 2.838 0.722s2.714-0.448 3.212-0.822c0.224-0.174 0.324-0.025 0.349 0.075s0.075 0.249-0.1 0.423zM17.414 24.599c0.274-0.249 0.722-0.647 1.145-0.822s0.647-0.149 1.046-0.149 0.822 0.025 1.12 0.224c0.299 0.199 0.473 0.647 0.573 0.896s0 0.398-0.199 0.498c-0.174 0.1-0.199 0.050-0.374-0.274s-0.324-0.647-1.195-0.647-1.145 0.299-1.569 0.647c-0.423 0.349-0.573 0.473-0.722 0.274s-0.099-0.398 0.175-0.647zM24.012 24.798c-0.896-0.075-2.689-2.863-3.834-2.913-1.444-0.050-4.581 3.013-7.046 3.013-1.494 0-1.942-0.224-2.44-0.548-0.747-0.523-1.12-1.32-1.096-2.415 0.025-1.942 1.842-3.76 4.133-3.785 2.913-0.025 4.93 2.888 6.399 2.863 1.245-0.025 3.635-2.465 4.805-2.465 1.245 0 1.594 1.295 1.594 2.066s-0.249 2.166-0.847 3.038c-0.598 0.872-0.971 1.195-1.668 1.145z"/>
            </svg>
          </a>
        </li>
        <li class="mr-7">
          <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://www.linkedin.com/in/ronaldtebrake/" alt="link to linkedin" aria-label="LinkedIn">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-7" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </li>
        <li class="mr-7">
          <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="https://mastodon.social/@ronaldtebrake" alt="link to mastodon" aria-label="Mastodon">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-7" viewBox="0 0 24 24">
              <path d="M21.327 8.566c0-4.339-2.843-5.61-2.843-5.61-1.433-.658-3.894-.935-6.451-.956h-.063c-2.557.021-5.016.298-6.45.956 0 0-2.843 1.272-2.843 5.61 0 .993-.019 2.181.012 3.441.103 4.243.778 8.425 4.701 9.463 1.809.479 3.362.579 4.612.51 2.268-.126 3.541-.809 3.541-.809l-.075-1.646s-1.621.511-3.441.449c-1.804-.062-3.707-.194-3.999-2.409a4.523 4.523 0 0 1-.04-.621s1.77.433 4.014.536c1.372.063 2.658-.08 3.965-.236 2.506-.299 4.688-1.843 4.962-3.254.434-2.223.398-5.424.398-5.424zm-3.353 5.59h-2.081V9.057c0-1.075-.452-1.62-1.357-1.62-1 0-1.501.647-1.501 1.927v2.791h-2.069V9.364c0-1.28-.501-1.927-1.502-1.927-.905 0-1.357.546-1.357 1.62v5.099H6.026V8.903c0-1.074.273-1.927.823-2.558.566-.631 1.307-.955 2.228-.955 1.065 0 1.872.409 2.405 1.228l.518.869.519-.869c.533-.819 1.34-1.228 2.405-1.228.92 0 1.662.324 2.228.955.549.631.822 1.484.822 2.558v5.253z"/>
            </svg>
          </a>
        </li>
        <li class="mr-7">
          <a class="text-coolGray-600 hover:text-coolGray-600/90 inline-flex items-center text-lg text-coolGray-600" href="/rss.xml" alt="link to the RSS feed" aria-label="RSS Feed">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-7">
              <path d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex flex-wrap text-center mt-8">
      <div class="w-full">
        <span class="text-medium text-coolGray-600">&copy; {today.getFullYear()} Ronald te Brake.</span>
      </div>
    </div>
  </div>
</section>