<section class="min-w-full min-h-full">
  <div class="container mx-auto px-4 pt-24 pb-24">
    <div class="max-w-sm md:max-w-xl xl:max-w-5xl mx-auto">
      <div class="text-center">
        <h1 class="font-heading text-6xl md:text-11xl xl:text-13xl tracking-tightest">
          <div>People, process & product development</div>
        </h1>
      </div>
    </div>
    <div class="max-w-md mt-20 ml-auto text-right antialiased">
      <p>
        <span class="block">Hi, <a href="/about" title="link to Open Social" class="hover:underline font-medium">I'm Ronald te Brake</a>,</span>
        <span class="block"></span>an engineering manager working at <a href="https://www.getopensocial.com" target="_blank" title="link to Open Social" class="hover:underline font-medium">Open Social</a>.</span>
        <span class="block">This is my blog and playground, the place where you'll catch me learn new things in public and share my experiences.</span>
      </p>
    </div>
  </div>
</section>