---
const { current = '' } = Astro.props;
---

<nav>
  <a class={current === "" ? "selected" : ""} href='/'>home</a>
  <a class={current === "blog" ? "selected" : ""} href='/blog'>blog</a>
  <a class={current === "illustrations" ? "selected" : ""} href='/illustrations'>illustrations</a>
</nav>