<section class="bg-coolGray-100 py-12 md:py-24">
    <div class="container mx-auto px-4">
      <div class="max-w-lg lg:max-w-none mx-auto">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/2 xl:w-7/12 px-4">
            <div class="max-w-xl pt-5 lg:pt-10  pl-[10px]">
              <div class="max-w-sm sm:max-w-md xl:max-w-none mb-12 xl:mb-0">
                <h1 class="font-heading text-6xl xs:text-6xl sm:text-8xl xl:text-10xl tracking-tighter mb-8">Get the latest</h1>
                <p class="text-lg text-coolGray-600">Subscribe to my newsletter to stay up to date with the latest additions to this blog. Promise I won't spam you.</p>
              </div>
            </div>
            <div class="mb-12">
                <script async data-uid="cac38936b5" src="https://rtb.ck.page/cac38936b5/index.js"></script>
            </div>
          </div>
          <div class="w-full px-4 invisible h-0 w-0 lg:visible lg:w-1/2 xl:w-5/12 lg:h-auto">
            <div class="max-w-xl lg:max-w-none mx-auto">
              <div class="flex flex-wrap -mx-4 h-full">
                <div class="w-full sm:w-1/2 px-4 mb-20 sm:mb-0">
                  <div class="py-16 px-10 md:px-8 text-center bg-black rounded-4xl animate-bounceSlow">
                    <div class="max-w-2xs mx-auto">
                      <h4 class="text-4xl text-white tracking-tight mb-4">Topics</h4>
                      <p class="text-coolGray-500">Want to keep up with my mind? Currently mostly thinking and sharing mostly about <span class="text-white font-medium">AI, performance & quality.</span> Curious?</p>
                      <p class="text-coolGray-500">Sign-up to the newsletter.</p>
                    </div>
                  </div>
                </div>
                <div class="w-full sm:w-1/2 px-4">
                  <div class="py-32 px-10 md:px-8 text-center bg-black rounded-4xl">
                    <div class="flex flex-col h-full justify-center max-w-2xs mx-auto">
                      <h4 class="text-4xl text-white tracking-tight mb-4">Random facts</h4>
                      <p class="text-coolGray-500">Currently thinking and writing a lot about: AI, performance and quality. 
                        Curious?</p>
                      <p class="text-coolGray-500">Sign-up to the newsletter.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
