<section class="bg-coolGray-100 py-12 md:py-24">
    <div class="container mx-auto px-4">
      <div class="max-w-lg lg:max-w-none mx-auto">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/2 xl:w-7/12 px-4">
            <div class="max-w-xl pt-5 lg:pt-10">
              <div class="max-w-sm sm:max-w-md xl:max-w-none mb-12 xl:mb-0">
                <h1 class="font-heading text-6xl xs:text-8xl sm:text-9xl xl:text-10xl tracking-tighter mb-8">Keep up with my updates</h1>
                <p class="max-w-sm text-lg text-coolGray-600">Stay up to date with the latest things I think you might like. I promise I won't spam you.</p>
              </div>
            </div>
            <div class="mb-12">
                <script async data-uid="cac38936b5" src="https://rtb.ck.page/cac38936b5/index.js"></script>
            </div>
          </div>
          <div class="w-full px-4 invisible h-0 w-0 lg:visible lg:w-1/2 xl:w-5/12 lg:h-auto">
            <div class="max-w-xl lg:max-w-none mx-auto">
              <div class="flex flex-wrap -mx-4 h-full">
                <div class="w-full sm:w-1/2 px-4 mb-20 sm:mb-0">
                  <div class="py-16 px-10 md:px-8 text-center bg-black rounded-4xl animate-bounceSlow">
                    <div class="max-w-2xs mx-auto">
                      <h4 class="text-4xl text-white tracking-tight mb-4">40 000+</h4>
                      <p class="text-coolGray-500">During this phase the design is developed to meet the required technical standards to</p>
                    </div>
                  </div>
                </div>
                <div class="w-full sm:w-1/2 px-4">
                  <div class="py-32 px-10 md:px-8 text-center bg-black rounded-4xl">
                    <div class="flex flex-col h-full justify-center max-w-2xs mx-auto">
                      <h4 class="text-4xl text-white tracking-tight mb-4">40 000+</h4>
                      <p class="text-coolGray-500">During this phase the design is developed to meet the required technical standards to</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
