<section class="bg-coolGray-100 py-12 md:py-24">
    <div class="container mx-auto px-4">
      <div class="max-w-lg lg:max-w-none mx-auto">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/2 xl:w-7/12 px-4">
            <div class="max-w-xl pt-5 lg:pt-10  pl-[10px]">
              <div class="max-w-sm sm:max-w-md xl:max-w-none mb-12 xl:mb-0">
                <h1 class="font-heading text-6xl xs:text-6xl sm:text-8xl xl:text-10xl tracking-tighter mb-8">Get the latest</h1>
                <p class="text-lg text-coolGray-600">Subscribe to my newsletter to stay up to date with the latest additions to this blog. Promise I won't spam you.</p>
              </div>
            </div>
            <div class="mb-12">
                <script async data-uid="cac38936b5" src="https://rtb.ck.page/cac38936b5/index.js"></script>
            </div>
          </div>
          <div class="w-full px-4 invisible h-0 w-0 lg:visible lg:w-1/2 xl:w-5/12 lg:h-auto animate-pulse">
            <div class="max-w-xl lg:max-w-none mx-auto">
              <div class="flex flex-wrap -mx-4 h-full">
                <div class="w-full px-4">
                  <div class="py-32 px-10 md:px-8 text-center bg-white rounded-4xl">
                    <div class="flex flex-col h-full justify-center max-w-2xs mx-auto">
                      <p class="text-4xl tracking-tight mb-4">Learn more</p>
                      <p>
                        Get a behind the scenes look at what I'm currently learning, exploring, and playing around with.
                      </p>
                      <p>
                        Whether that is Drupal, AI or Engineering management related, sign up to be the first to find out.
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
