---
import Windmillsvg from '@/components/Windmillsvg.astro'

---

<section class="bg-coolGray-100 py-24 overflow-hidden" id="windmill-container">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-5/12 px-4">
        <Windmillsvg />
      </div>
      <div class="w-full lg:w-7/12 px-4 lg:mt-0 self-center">
        <h2 class="font-heading text-5xl sm:text-6xl lg:text-7xl tracking-tight mb-6">The Framework</h2>
        <p class="text-coolGray-60 mb-10">People, product, and processes are the essential gears of an organization, each contributing to a well-oiled machine; I believe when these elements work harmoniously, they ensure the organization runs smoothly.</p>
        <div class="max-w-lg xl:max-w-none mx-auto lg:mr-0 pt-6">
          <button class="group block text-left w-full pb-6 mb-8 border-b" id="btnpeople">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">01</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">People</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>I believe at the end of the day, it's the passionate individuals who turn ideas into reality! When the team is happy and engaged, great products happen and without them, even the best ideas can fall flat.</p>
            </div>
          </button>
          <button class="group block w-full text-left pb-6 mb-8 border-b" id="btnprocess">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">02</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">Process</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>When processes are smooth and easy to follow, teams can focus on what really matters: delivering value and quality. Making impact and growing and having fun along the way. As engineering manager I'm there to remove anything that gets in the way of doing so.</p>
            </div>
          </button>
          <button class="group block w-full text-left" id="btnproduct">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">03</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">Product development</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>The product is crucial because it's what actually delivers value to customer and what makes the impact. If the product doesn't meet their needs or expectations, all the great people and processes in the world won't make a difference. Although I will be focusing mainly on the development aspect of this part in my posts, I believe this is vital to success.
              </p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>