---
import Windmillsvg from '@/components/Windmillsvg.astro'

---

<section class="py-12 md:py-24 bg-coolGray-50 overflow-hidden" id="windmill-container">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-5/12 px-4">
        <Windmillsvg />
      </div>
      <div class="w-full lg:w-7/12 px-4 mt-20 lg:mt-0 self-center">
        <div class="max-w-lg xl:max-w-none mx-auto lg:mr-0 pt-6">
          <button class="group block text-left w-full pb-6 mb-8 border-b">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">01</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">People</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>The human aspect, focusing on hiring, developing, and motivating the right talent to drive innovation and performance. Their engagement, alignment, and development are crucial for success.</p>
            </div>
          </button>
          <button class="group block w-full text-left pb-6 mb-8 border-b">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">02</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">Process</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>The structured methods and workflows used to produce the product and enable people to work efficiently, ensuring consistency, quality, and agility.</p>
            </div>
          </button>
          <button class="group block w-full text-left">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">03</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">Product development</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>The value delivered to the market, which must meet customer needs, offer value, and continuously evolve based on feedback.</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Select all buttons with the class 'group'
  const buttons = document.querySelectorAll('button.group');
  const details = document.querySelectorAll('.details');

  // Iterate over each button and add an onclick event listener
  buttons.forEach(button => {
    button.onclick = function() {
      const btndetails = this.querySelectorAll('.details');

      details.forEach(detail => {
        detail.classList.add('hidden');
        detail.classList.remove('block');
      });
      btndetails.forEach(detail => {
        detail.classList.add('block');
        detail.classList.remove('hidden');
      });
    };
  });


</script>