---
import Windmillsvg from '@/components/Windmillsvg.astro'

---

<section class="bg-coolGray-100 py-24 overflow-hidden" id="windmill-container">
  <div class="container mx-auto px-4">
    <h2 class="font-heading text-5xl sm:text-6xl lg:text-7xl tracking-tight mb-6">The Framework</h2>
    <p class="text-coolGray-60 mb-10">People, product, and processes are the essential gears of an organization, each contributing to a well-oiled machine; I believe when these elements work harmoniously, you are setting up your organization for sustainable growth and being resilient in a changing business landscape.</p>
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-5/12 px-4">
        <Windmillsvg />
      </div>
      <div class="w-full lg:w-7/12 px-4 lg:mt-0 self-center">
        <div class="max-w-lg xl:max-w-none mx-auto lg:mr-0 pt-6">
          <button class="group block text-left w-full pb-6 mb-8 border-b" id="btnpeople">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">01</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">People</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>I believe employees form the backbone of business success, and treating them well fosters trust and dedication. Prioritizing people helps build a strong, supportive work culture.</p>
            </div>
          </button>
          <button class="group block w-full text-left pb-6 mb-8 border-b" id="btnprocess">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">02</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">Process</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>Effective processes reduce bottlenecks, streamline workflows, and facilitate quality control. This is crucial for efficient and consistent organizational operations.</p>
            </div>
          </button>
          <button class="group block w-full text-left" id="btnproduct">
            <div class="flex items-center">
              <span class="inline-block mr-8 text-sm">03</span>
              <span class="inline-block text-2xl lg:text-3xl xl:text-4xl">Product development</span>
              <span class="group-hover:rotate-270 w-6 h-6 lg:group-hover:rotate-225 transform transition duration-100 ml-auto">
                <svg viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-primary-600 dark:stroke-primary-600">
                  <path d="M30 3L3 30" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30 27.758V3H5.24196" stroke="currentColor" stroke-width="4.3875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="mt-6 pr-10 hidden details">
              <p>The focus here is on developing high-quality, relevant products by understanding customer needs and fostering continuous feedback. Constantly improving products based on customer feedback maintains relevance and growth.</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>