---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
type Props = CollectionEntry<'blog'>['data'];

const { title, description, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <div class="px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue prose lg:prose-xl dark:text-primary-200 text-coolGray-600">
                <h1 class="dark:text-primary-200 text-primary-950">{title}</h1>
                <Image src={heroImage} class="transform" alt="" />
                <slot />
            </article>
        </div>
    </div>
</BaseLayout>